<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões de acesso à localização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_frutas"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_frutas"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuscaFruta"
        tools:targetApi="31">

        <!-- Meta-dados para a API do Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJdw4Flr7wA_KXAm6b9DxbYYOpMEAaLbc"/>

        <!-- Declaração das Activities -->
        <activity
            android:name="com.example.buscafruta.presentation.activity.MapsActivity"
            android:exported="true" />

        <activity
            android:name="com.example.buscafruta.presentation.activity.FruitSelectionActivity"
            android:exported="true" />

        <activity
            android:name="com.example.buscafruta.presentation.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
